@font-face {
  font-family: "HelveticaNeue";
  src: url("../../public/fonts/HelveticaNeue.ttc");
}
@font-face {
  font-family: "ninoMtavr";
  src: url("../../public/fonts/mtavru.ttf");
}
@font-face {
  font-family: "ninoMtavrBold";
  src: url("../../public/fonts/mtavruBold.ttf");
}
.error {
  outline: 2px solid red !important;
  border: none !important;
}
.main {
  width: 100%;
  height: 1080px;
  display: flex;
}
.mainPage {
  width: 100%;
  height: 100%;
  display: flex;
}
.mainEduPage {
  width: 89%;
  height: 100%;
  display: flex;
}
.udecationParent {
  width: 100%;
  height: 100%;
  display: flex;
  /* background-color: #F9F9F9; */
  flex-direction: column;
}

/* info page - name & surname */

.infoParentMain {
  width: 60%;
  display: flex;
  align-items: center;
  /* background-color: #F9F9F9; */
  background-color: #e7dddd;
  padding: 15px;
  flex-direction: column;
}
.infoParent {
  width: 89%;
  height: 100%;
  display: flex;
  /* background-color: #F9F9F9; */
  flex-direction: column;
}

.additionalExperience {
  overflow: hidden;
  height: 730px;
}
.additionalEducation {
  overflow: hidden;
}

.pageInfo {
  display: flex;
  width: 90%;
  height: 100%;
  text-align: left;
  color: #1a1a1a;
  flex-wrap: wrap;
  padding: 0 0 0 40px;
}
.pageInfoTwoExp {
  overflow: auto;
}
.pageInfoTwo {
  overflow: auto;
  height: 550px;
}
.headerParent {
  display: flex;
  width: 100%;
}
.resetParent {
  position: relative;
}
.backReset {
  cursor: pointer;
  position: absolute;
  padding: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  right: 5px;
  top: 13px;
}

.header {
  display: flex;
  width: 80%;
  height: 50px;
  padding-top: 25px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #1a1a1a;
}

.pageName {
  font-size: 24px;
  font-weight: bold;
  font-family: "ninoMtavr";
}

.infoSpan {
  font-size: 20px;
  font-weight: 100;
  font-style: normal;
  font-family: "HelveticaNeue";
}

.infoInputParent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: left;
  gap: 110px;
}

.nameInput {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.nameInputLabel,
.sureNameInputLabel {
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  font-family: "HelveticaNeue";
}

.nameInputSpan,
.sureNameInputSpan {
  padding-top: 8px;
  font-size: 14px;
}

.sureNameInput {
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* info page - photo upload & about me */

.photoMailNum {
  width: 100%;
  text-align: left;
}

.photoSpan {
  font-size: 18px;
  font-weight: 600;
  padding-right: 20px;
  font-family: "HelveticaNeue";
}

.photoUpload {
  margin-top: 60px;
  width: 100%;
}
#fileInput {
  display: none;
}

#fileLabel {
  border: 1px solid #ccc;
  width: 107px;
  height: 27px;
  cursor: pointer;
  background-color: #0e80bf;
  color: #ffffff;
  font-size: 14px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.aboutMe {
  width: 100%;
  padding: 55px 0 50px 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #c1c1c1;
}

.aboutMeLabel {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 8px;
  font-family: "HelveticaNeue";
}

.aboutMeText {
  border: 1px solid #bcbcbc;
  outline: none;
  border-radius: 4px;
  padding: 10px 0 80px 10px;
  font-family: "HelveticaNeue";
}
.workplaceInfo {
  outline: none;
  border-radius: 4px;
  outline: none;
  padding: 10px 0 95px 10px;
  border: 1px solid #bcbcbc;
  font-family: "HelveticaNeue";
}

.mailParent {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 55px;
  flex: 1;
}

.mailLabel {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 5px;
  font-family: "HelveticaNeue";
}

.mailSpan {
  font-size: 14px;
  font-weight: 100;
  color: #2e2e2e;
  padding-top: 5px;
  font-family: "HelveticaNeue";
}

.mobileNumber {
  display: flex;
  flex-direction: column;
  padding-top: 55px;
}

.mobileLabel {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 5px;
}

.mobileSpan {
  font-size: 14px;
  font-weight: 100;
  color: #2e2e2e;
  padding-top: 5px;
}

.btnParent {
  width: 80%;
  margin-right: 75px;
}

.btnParentTwo {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0px 60px 0 0;
  height: 200px;
}

.nextPageBtn {
  color: #ffffff;
  width: 151px;
  height: 48px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #6b40e3;
  border: none;
  float: right;
  font-family: "HelveticaNeue";
}

.pervPageBtn {
  color: #ffffff;
  width: 115px;
  height: 48px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #6b40e3;
  border: none;
  float: left;
  font-family: "HelveticaNeue";
}

/* info page - part || - total information */

.infoChild {
  width: 40%;
}

.totalInformation {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.widthControl {
  display: flex;
  width: 90%;
}

.liveInfo {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  flex-basis: 83%;
  /* border-bottom: 1px solid #C8C8C8; */
}

.liveInfoHeading {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 37px;
}

.liveImageParent {
  width: 47%;
  border-bottom: 1px solid #c8c8c8;
}
.liveAboutParent {
  border-bottom: 1px solid #c8c8c8;
}

.liveImgFig {
  width: 83%;
  border-radius: 50%;
  position: relative;
}

.liveImage {
  width: 246px;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  right: -20px;
}

.nameSurname {
  color: #f93b1d;
  font-size: 32px;
  font-family: "ninoMtavrBold";
  font-weight: bolder;
  height: 20px;
}

.liveMail {
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 500;
  font-family: "HelveticaNeue";
}

.liveNumber {
  color: #1a1a1a;
  font-size: 16px;
  padding-top: 5px;
  font-family: "HelveticaNeue";
}

.liveAboutHeading {
  color: #f93b1d;
  font-size: 18px;
  font-family: "ninoMtavrBold";
  font-weight: bolder;
  margin: 20px 0 0 0;
}

.liveAboutParent,
.educationParent {
  width: 100%;
}

.liveAbout {
  color: #000000;
  font-family: "HelveticaNeue";
  text-align: left;
  word-wrap: break-word;
  width: 100%;
  font-size: 14px;
}

.orangeSymbol {
  position: relative;
  width: 83%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.orangeSymbol img {
  width: 42px;
  position: absolute;
  top: 400px;
}

.jobDiscription {
  font-size: 15px;
  font-family: "HelveticaNeue";
}

.dateAndTime {
  color: #909090;
  font-size: 16px;
  font-style: italic;
}

.dateAndJobFlex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* page 3 - experience */

.parentDiv {
  width: 100%;
  height: 100%;
  text-align: left;
  color: #1a1a1a;
  padding: 0 0 0 40px;
}
.addExpBtnParent {
  margin: 50px 0 0 0;
  overflow: auto;
  height: 730px;
}
.addEduBtnParent {
  margin: 50px 0 0 0;
  overflow: auto;
}
.addInfoButton {
  width: 289px;
  height: 50px;
  background-color: #62a1eb;
  color: #ffffff;
  font-family: "HelveticaNeue";
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.dateFlexDiv {
  display: flex;
  width: 100%;
  gap: 56px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
}
.degreeSelect {
  border: 1px solid #bcbcbc;
  background-color: #ffffff;
  border-radius: 4px;
  outline: none;
  padding: 15px 0 15px 10px;
  font-size: 16px;
}
.educationSelectParent {
  width: 89%;
  display: flex;
  flex-direction: column;
  padding-top: 55px;
  flex: 1 1;
}
