@font-face {
    font-family: 'HelveticaNeue';
    src: url('../public/fonts/HelveticaNeue.ttc');
}
@font-face {
    font-family: 'ninoMtavr';
    src: url('../public/fonts/mtavru.ttf');
}
#root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'HelveticaNeue';
    height: 100vh;
    width: 100%;
}
.App {
    font-family: 'HelveticaNeue';
}