@font-face {
  font-family: "HelveticaNeue";
  src: url("../public/fonts/HelveticaNeue.ttc");
}
@font-face {
  font-family: "ninoMtavr";
  src: url("../public/fonts/mtavru.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "HelveticaNeue";
}
.App {
  font-family: "HelveticaNeue";
}
