.inputParentDiv {
  display: flex;
  width: 99.5%;
}
.inputErrorFigure {
  display: flex;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.inputAccepted {
  position: absolute;
  right: 10px;
  display: none;
}
.inputDiclined {
  position: absolute;
  left: -30px;
  display: none;
}
